// It's highly recommended to change the default colors
// to match your app's branding.

@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
$typography-font-family : 'Allura', cursive;

$primary   : #fbc356;
$secondary : #331e0d;
$accent    : #fcf2e8;

$dark      : #1D1D1D;

$positive  : #579664;
$negative  : #C10015;
$info      : #31cdeccb;
$warning   : #F2C037;

@import '~quasar-variables-styl'

